@font-face {
    font-family: 'nowayregular';
url('@kb-dk/kb-fonts/fonts/noway-regular-webfont.woff2') format('woff2'),
url('@kb-dk/kb-fonts/fonts/noway-regular-webfont.woff') format('woff'),
font-weight: normal;
    font-style: normal;
}