.rdl-icons{
  speak: none;
  word-wrap: normal;
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  display: inline-block;
  font-family: rdl-icons,serif;
  font-size: 20px;
  font-style: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
}
